<body>

<div id="login" class="">
  <div class="container">
    <mat-progress-bar
      class="mt-2"
      color="primary"
      mode="determinate"
      value="30">
    </mat-progress-bar>
    <div class="float-left pt-2">
      <a routerLink="/gender" class="text-center"><img src="../../assets/img-login/back.png" height="20" width="20"/></a>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center" >
        <img src="../../assets/img-login/globe_icon.png" class="img-fluid logo-meets" alt="picture"/></div>
    </div>
    <div class="text-center"><h2>Your Location</h2></div>
  </div>
  <div class="container">
    <form>
      <div class="form-group">
        <input type="email" class="form-control mt-5 mb-5" id="userLocation" placeholder="Enter your Town" (change)="onChangeLocation()">
      </div>
      <div class="clearfix"></div>
    </form>
  </div >
  <div class="container fixed-bottom my-bottom">
    <div class="text-center btn-login">
      <button type="button" class="btn btn-default text-center my-buttons my-button-login" routerLink="/name">Next</button>
    </div>
    <div class="text-center text-muted">Already have an account? <a routerLink="/login">Login</a></div>
    <div class="container text-center">
      <a routerLink="/" class="text-center">Cancel</a>
    </div>
  </div>


</div>


</body>









