<body>

<div id="login" class="">
  <div class="container">
    <mat-progress-bar
      class="mt-2"
      color="primary"
      mode="determinate"
      value="20">
    </mat-progress-bar>
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center" >
        <img src="../../assets/img-login/gender_icon.png" class="img-fluid logo-meets text-danger" alt="picture"/></div>
    </div>
  </div>
  <div class="container">
    <div class="text-center"><h2>Select your Gender</h2></div>
  </div>
  <div class="container my-padding">
    <div class="row" >
      <div class="col-md-6"><label class="btn float-right"><img src="../../assets/img-login/male.png" alt="..." class="img-thumbnail img-check my-male-icons"><input type="radio" name="chk1" id="item1" value="val1" class="invisible check" autocomplete="off"></label></div>
      <div class="col-md-6"><label class="btn float-left"><img src="../../assets/img-login/female.png" alt="..." class="img-thumbnail img-check my-male-icons"><input type="radio" name="chk4" id="item2" value="val4" class="invisible check" autocomplete="off"></label></div>
    </div>
  </div >

  <div class="container fixed-bottom my-bottom">
    <div class="text-center btn-login">
      <button type="button" class="btn btn-default text-center my-buttons my-button-login" routerLink="/location">Next</button>
    </div>
    <div class="text-center text-muted">Already have an account? <a routerLink="/login">Login</a></div>
    <div class="container text-center">
      <a routerLink="/" class="text-center">Cancel</a>
    </div>
  </div>


</div>


</body>









