<body>

<div id="login" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center" >
        <img src="../../assets/img-login/logo.png" class="img-fluid logo-meets" alt="picture"/></div>
    </div>
    <div class="row buttons-email-phone">
      <div class="col-md-6 col-sm-4 col-xs-11">
        <button class="btn btn-default float-right my-buttons my-button-active" (click)="showEmail($event)" id="buttonEmail"><img src="http://s1.iconbird.com/ico/2013/1/569/w24h16138981479618envelope.png" class="turtle" alt="" > Email</button>
      </div>
      <div class="col-md-6 col-sm-8 col-xs-1">
        <button class="btn btn-default my-buttons btn-primary my-button-muted" (click)="showPhone()" id="buttonPhone"><img src="http://s1.iconbird.com/ico/2014/1/622/w26h261390854463phone26.png" class="turtle" alt=""> Phone</button>
      </div>
    </div>
  </div>
  <div class="container">
    <form>
      <div class="form-group" *ngIf="emailOrPhone.email">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group" *ngIf="emailOrPhone.phone">
        <input type="number" class="form-control" id="inputPhone" placeholder="Phone">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="button" class="float-right btn btn-link">Forgot your password?</button>
      <div class="clearfix"></div>
      <div class="text-center btn-login">
        <button type="submit" class="btn btn-default text-center my-buttons my-button-login">Login</button>
      </div>
    </form>
    <div class="text-center text-muted">or signup with your social account</div>
    <div class="row social-icons">
      <a href="#" class="col-md-4 test text-center">
        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png" alt="facebook" class="img-fluid rounded-circle my-icons">
      </a>
      <a href="#" class="col-md-4 test text-center">
        <img src="https://www.shareicon.net/download/2017/06/21/887478_logo.ico" alt="vk" class="img-fluid rounded-circle my-icons">
      </a>
      <a href="#" class="col-md-4 test text-center">
        <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square2-512.png" alt="insta" class="rounded-circle my-icons">
      </a>

    </div>
    <div class="text-center text-muted">Don't have an account? <a routerLink="/create-new-account">Create</a></div>
    <div class="container text-center">
      <a href="#" class="text-center">Skip</a>
    </div>





  </div>
</div>


</body>

